/* ==userstyle==
@version 1.0.2
@namespace Steven Penny
@name Reddit
==/userstyle== */
@-moz-document domain("reddit.com") {
   .nestedlisting > div > div.midcol {
      background: blue !important;
   }
   .nestedlisting > div > div > div > div > div.midcol {
      background: green !important;
   }
   .nestedlisting > div > div > div > div > div > div > div > div.midcol {
      background: orange !important;
   }
   .midcol {
      display: block !important;
   }
   .md p {
      font-family: verdana !important;
   }
   .midcol {
      height: 3rem !important;
   }
   .md p {
      line-height: 20px !important;
   }
   .md p {
      margin-bottom: 1rem !important;
   }
   .arrow {
      visibility: hidden !important;
   }
}
