/* ==userstyle==
@version 1.0.0
@namespace Steven Penny
@name YouTube
==/userstyle== */
@-moz-document domain("youtube.com") {
   #player {
      background: black;
   }
   /* playlist */
   :visited #video-title,
   /* channel */
   :visited#video-title {
      color: hsl(270 100% 50%) !important;
   }
   input.paper-input {
      width: 240px !important;
   }
}
