header {
   align-items: center;
}
div,
footer a,
header a {
   background: burlywood;
}
.black {
   background: black;
}
.green {
   background: hsl(120, 100%, 50%);
}
.lightgreen {
   background: hsl(120, 100%, 80%);
}
.lightred {
   background: hsl(0, 100%, 80%);
}
.red {
   background: hsl(0, 100%, 50%);
}
td {
   border-color: black;
}
td {
   border-style: solid;
}
td {
   border-width: 1px;
}
.black a {
   color: white;
}
header,
main {
   display: flex;
}
header,
main {
   flex-wrap: wrap;
}
div,
header a {
   margin-bottom: 1rem;
}
footer {
   margin-bottom: 2rem;
}
div,
footer,
header a {
   margin-left: 1rem;
}
div,
footer,
header a {
   margin-right: 1rem;
}
div,
header a {
   margin-top: 1rem;
}
footer {
   margin-top: 2rem;
}
div,
footer a,
header a,
td {
   padding-bottom: 10px;
}
div,
footer a,
header a,
td {
   padding-left: 20px;
}
div,
footer a,
header a,
td {
   padding-right: 20px;
}
div,
footer a,
header a,
td {
   padding-top: 10px;
}
a {
   text-decoration: none;
}
