header {
   align-items: center;
}
div, footer a, header a {
   background: burlywood;
}
.black {
   background: black;
}
.green {
   background: hsl(120, 100%, 50%);
}
.lightgreen {
   background: hsl(120, 100%, 80%);
}
.lightred {
   background: hsl(0, 100%, 80%);
}
.red {
   background: hsl(0, 100%, 50%);
}
td {
   border: 1px solid black;
}
.black a {
   color: white;
}
header, main {
   display: flex;
}
header, main {
   flex-wrap: wrap;
}
div, header a {
   margin: 1em;
}
footer {
   margin: 2em 1em;
}
footer a, header a, div, td {
   padding: 10px 20px;
}
a {
   text-decoration: none;
}
