header {
   align-items: center;
}
div, header a {
   background: burlywood;
}
.green {
   background: green;
}
.red {
   background: red;
}
.yellow {
   background: yellow;
}
td {
   border: 1px solid black;
}
header, main {
   display: flex;
}
header, main {
   flex-wrap: wrap;
}
header a, div {
   margin: 1em;
}
header a, div, td {
   padding: 10px 20px;
}
a {
   text-decoration: none;
}
